		
		
		.go2933276541 {
			position: fixed;
			display: block;
			width: 100%;
			height: 0px;
			margin: 0px;
			padding: 0px;
			overflow: visible;
			transform-style: preserve-3d;
			background: transparent;
			backface-visibility: hidden;
			pointer-events: none;
			left: 0px;
			z-index: 9998;
		}

		.go2369186930 {
			top: 0px;
			z-index: 9999;
			height: 100%;
			width: 100%;
		}

		.go1348078617 {
			bottom: 0px;
		}

		.go2417249464 {
			position: fixed;
			z-index: 9989;
		}

		.go3921366393 {
			left: 0;
			bottom: 0;
		}

		.go3967842156 {
			right: 0;
			bottom: 0;
		}

		.go613305155 {
			left: 0;
			top: 0;
		}

		.go471583506 {
			right: 0;
			top: 0;
		}

		.go3670563033 {
			position: relative;
			overflow: hidden;
			display: none;
		}

		.go1041095097 {
			display: block;
		}

		.go1632949049 {
			position: absolute;
			pointer-events: none;
			width: 101vw;
			height: 101vh;
			background: rgba(0, 0, 0, 0.7);
			opacity: 0;
			z-index: -1;
		}

		.go1366308204 {
			z-index: 99998;
			opacity: 0.5;
			visibility: visible;
			pointer-events: all;
			cursor: pointer;
		}

		.go812842568 {
			display: block !important;
			position: static !important;
			box-sizing: border-box !important;
			background: transparent !important;
			border: none;
			min-height: 0px !important;
			max-height: none !important;
			margin: 0px;
			padding: 0px !important;
			height: 100% !important;
			width: 1px !important;
			max-width: 100% !important;
			min-width: 100% !important;
		}

		.go2729809544 {
			z-index: 99999;
			visibility: hidden;
			position: absolute;
			inset: 50vh auto auto 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;
			opacity: 0;
			pointer-events: none;
			max-height: 95%;
			max-width: 95%;
		}

		.go1011812720 {
			pointer-events: auto !important;
			visibility: visible;
			opacity: 1;
			transition: opacity 1s ease-in;
		}

		.go3128134379 {
			pointer-events: auto !important;
			visibility: visible !important;
			max-height: 95vh !important;
			transition: max-height 1s ease-in;
		}

		.go494047706 {
			z-index: 9999;
			width: 100%;
			max-height: 95%;
			position: fixed;
			visibility: hidden;
		}

		.go2481764524 {
			z-index: 9999;
			width: 100%;
			max-height: 95%;
			position: fixed;
			visibility: hidden;
			bottom: 0px;
		}

		.go2685733372 {
			visibility: hidden;
		}

		.go2985984737 {
			visibility: visible !important;
		}

		.go3281949485 {
			pointer-events: auto !important;
			visibility: visible !important;
			max-height: 95vh !important;
			transform: none !important;
		}

		.go3539422596 {
			z-index: 9999;
			width: 100%;
			max-height: 95%;
			position: fixed;
			visibility: hidden;
			transition: transform 0.5s cubic-bezier(0.31, -0.2, 0.04, 1.47);
		}

		.go988075951 {
			z-index: 9999;
			position: fixed;
			left: 10px;
			top: 10px;
			max-height: 95vh !important;
			max-width: 95%;
			visibility: hidden;
		}

		.go2699082514 {
			z-index: 9999;
			position: fixed;
			right: 10px;
			top: 10px;
			max-height: 95vh !important;
			max-width: 95%;
			visibility: hidden;
		}

		.go1595992025 {
			z-index: 9999;
			position: fixed;
			left: 10px;
			bottom: 10px;
			max-height: 95vh !important;
			max-width: 95%;
			visibility: hidden;
		}

		.go1222083472 {
			z-index: 9999;
			position: fixed;
			right: 10px;
			bottom: 10px;
			max-height: 95vh !important;
			max-width: 95%;
			visibility: hidden;
		}

		.go26732895 {
			cursor: pointer;
		}

		.go2083580917 {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		#hs-feedback-ui {
			animation-duration: 0.4s;
			animation-timing-function: ease-out;
			display: none;
			height: 0;
			overflow: hidden;
			position: fixed;
			z-index: 2147483647;
			max-width: 100%;
		}

		.hubspot.space-sword #hs-feedback-ui {
			z-index: 1070;
		}

		#hs-feedback-ui.hs-feedback-shown {
			display: block;
		}

		#hs-feedback-fetcher {
			display: none
		}


		@keyframes feedback-slide-in-hs-feedback-left {
			from {
				transform: translate(0, 100%);
			}

			to {
				transform: translate(0, 0);
			}
		}

		@keyframes feedback-slide-out-hs-feedback-left {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(0, 100%);
			}
		}

		#hs-feedback-ui.hs-feedback-left {
			animation-name: feedback-slide-in-hs-feedback-left;
		}

		#hs-feedback-ui.hs-feedback-left.hs-feedback-slid-out {
			animation-name: feedback-slide-out-hs-feedback-left;
			animation-fill-mode: forwards;
		}


		@keyframes feedback-slide-in-hs-feedback-right {
			from {
				transform: translate(0, 100%);
			}

			to {
				transform: translate(0, 0);
			}
		}

		@keyframes feedback-slide-out-hs-feedback-right {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(0, 100%);
			}
		}

		#hs-feedback-ui.hs-feedback-right {
			animation-name: feedback-slide-in-hs-feedback-right;
		}

		#hs-feedback-ui.hs-feedback-right.hs-feedback-slid-out {
			animation-name: feedback-slide-out-hs-feedback-right;
			animation-fill-mode: forwards;
		}


		@keyframes feedback-slide-in-hs-feedback-top {
			from {
				transform: translate(0, -100%);
			}

			to {
				transform: translate(0, 0);
			}
		}

		@keyframes feedback-slide-out-hs-feedback-top {
			from {
				transform: translate(0, 0);
			}

			to {
				transform: translate(0, -100%);
			}
		}

		#hs-feedback-ui.hs-feedback-top {
			animation-name: feedback-slide-in-hs-feedback-top;
		}

		#hs-feedback-ui.hs-feedback-top.hs-feedback-slid-out {
			animation-name: feedback-slide-out-hs-feedback-top;
			animation-fill-mode: forwards;
		}


		#hs-feedback-ui>iframe {
			width: 100%;
			height: 100%;
		}

		#hs-feedback-ui:not(.hs-feedback-top) {
			bottom: 0;
		}

		#hs-feedback-ui.hs-feedback-left {
			left: 0;
		}

		#hs-feedback-ui.hs-feedback-right {
			right: 0;
		}

		.zorse #hs-feedback-ui:not(.hs-feedback-top) {
			bottom: 6px;
		}

		.zorse #hs-feedback-ui.hs-feedback-right {
			right: 0;
		}

		#hs-feedback-ui.hs-feedback-top {
			left: 0;
			top: 0;
			width: 100%;
		}

		#hs-feedback-ui.hs-feedback-nps:not(.hs-feedback-top) {
			width: 480px;
		}

		#hs-feedback-ui.hs-feedback-csat:not(.hs-feedback-top) {
			width: 350px;
		}

		#hs-feedback-ui.hs-feedback-csat.hs-feedback-extended-width:not(.hs-feedback-top) {
			width: 550px;
		}

		@media only screen and (min-width: 544px) {
			#hs-feedback-ui.hs-feedback-csat:not(.hs-feedback-top):not(.hs-feedback-expanded) {
				width: 450px;
			}
		}

		#hs-feedback-ui.hs-feedback-csat.hs-feedback-extended-width:not(.hs-feedback-top) {
			width: 550px !important;
		}

		#hs-feedback-ui.preview.hs-feedback-csat.hs-feedback-callout:not(.hs-feedback-expanded):not(.hs-feedback-top) {
			width: 450px !important;
		}

		@media only screen and (max-width: 768px) {

			#hs-feedback-ui:not(.preview):not(.hs-feedback-callout):not(.hs-feedback-top),
			#hs-feedback-ui.hs-feedback-expanded:not(.preview):not(.hs-feedback-top) {
				width: 100% !important;
			}
		}

		@media only screen and (max-width: 600px) {

			#hs-feedback-ui.preview:not(.hs-feedback-top),
			#hs-feedback-ui.hs-feedback-expanded.preview:not(.hs-feedback-top) {
				width: 100% !important;
			}
		}

		#hs-feedback-ui.hs-feedback-shown~#tally-widget-container,
		#hs-feedback-ui.hs-feedback-shown~#wootric-modal {
			display: none !important;
		}

		/* hide all popups in the same position as us */
		@media only screen and (min-width: 544px) {

			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown~#hubspot-messages-iframe-container,
			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown~.leadinModal-theme-bottom-right-corner,
			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown~.leadinModal-theme-bottom-left-corner,
			#hs-feedback-ui.hs-feedback-top.hs-feedback-shown~.leadinModal-theme-top {
				display: none !important;
			}
		}

		/* hide leadflows when we're tablet-stretched across from them */
		@media only screen and (min-width: 544px) and (max-width: 970px) {

			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown~.leadinModal-theme-bottom-right-corner,
			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown~.leadinModal-theme-bottom-left-corner {
				display: none !important;
			}
		}

		/* hide messages when we're tablet-stretched across from them */
		@media only screen and (max-width: 966px) {
			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown~#hubspot-messages-iframe-container {
				display: none !important;
			}
		}

		@media only screen and (max-width: 544px) {

			/* repeat above rules for small screens when we're set to display on mobile */
			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~#hubspot-messages-iframe-container,
			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~#hubspot-messages-iframe-container,
			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-right-corner,
			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-left-corner,
			#hs-feedback-ui.hs-feedback-top.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-top,
			#hs-feedback-ui.hs-feedback-left.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-right-corner,
			#hs-feedback-ui.hs-feedback-right.hs-feedback-shown:not(.hs-feedback-no-mobile)~.leadinModal-theme-bottom-left-corner {
				display: none !important;
			}

			/* don't display us on small screens if we're set to not display on mobile */
			#hs-feedback-ui.hs-feedback-no-mobile {
				display: none;
			}
		}
	
		a.cta_button {
			-moz-box-sizing: content-box !important;
			-webkit-box-sizing: content-box !important;
			box-sizing: content-box !important;
			vertical-align: middle
		}

		.hs-breadcrumb-menu {
			list-style-type: none;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px
		}

		.hs-breadcrumb-menu-item {
			float: left;
			padding: 10px 0px 10px 10px
		}

		.hs-breadcrumb-menu-divider:before {
			content: '›';
			padding-left: 10px
		}

		.hs-featured-image-link {
			border: 0
		}

		.hs-featured-image {
			float: right;
			margin: 0 0 20px 20px;
			max-width: 50%
		}

		@media (max-width: 568px) {
			.hs-featured-image {
				float: none;
				margin: 0;
				width: 100%;
				max-width: 100%
			}
		}

		.hs-screen-reader-text {
			clip: rect(1px, 1px, 1px, 1px);
			height: 1px;
			overflow: hidden;
			position: absolute !important;
			width: 1px
		}
	
        
		@media (min-width: 501px) .hsg-featured-snippet__wrapper>h3:before,
		.hsg-featured-snippet__wrapper>h4:before,
		.hsg-featured-snippet__wrapper>h5:before,
		.hsg-featured-snippet__wrapper>h6:before {}

		.hsg-featured-snippet__wrapper>h2:before,
		.hsg-featured-snippet__wrapper>h3:before,
		.hsg-featured-snippet__wrapper>h4:before,
		.hsg-featured-snippet__wrapper>h5:before,
		.hsg-featured-snippet__wrapper>h6:before {
			background-image: url(asset/white-force-logo.png);
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex-shrink: 0;
			height: 5rem;
			left: 3%;
			position: absolute;
			top: 1rem;
			height: 2.5rem;
			top: 53%;
			transform: translateY(-50%);
			width: 3rem;
			opacity: .8;
		}

		.visually-hidden:not(:focus, :active),
		.hsg-sr-only {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			white-space: nowrap;
			width: 1px
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation {
			background-color: #213343 !important;
			text-shadow: none !important;
			border-radius: 0 !important;
			width: 100vw !important;
			position: absolute !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			transform: none !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation #hs-eu-policy-wording {
			margin-right: 0 !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
			background: #213343 !important;
			box-sizing: content-box !important;
			margin: 0 auto !important;
			max-width: 1080px !important;
			padding: .9rem 2rem !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area {
			flex-wrap: nowrap !important;
			justify-content: center !important;
			gap: 1rem;
			margin-bottom: 0 !important;
			align-items: center !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button {
			max-width: 10rem !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-confirmation-button,
		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-decline-button {
			background-color: #fff !important;
			border: 0 !important;
			border-radius: .1875rem !important;
			box-shadow: none !important;
			color: #2e475d !important;
			display: inline-block !important;
			line-height: 1.25 !important;
			text-shadow: none !important;
			transition: .15s color ease-out, .15s background-color ease-out, .15s border-color ease-out !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			font-weight: 500 !important;
			padding: 0 .5rem !important;
			height: 3em !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-confirmation-button:hover,
		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-decline-button:hover {
			background-color: rgba(255, 255, 255, .9) !important;
			text-decoration: underline !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-confirmation-button {
			margin: 0 !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-cookie-settings-button {
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			color: #fff !important;
			font-weight: 500 !important;
			text-decoration: none !important;
			border-bottom: none !important;
			order: 4 !important
		}


		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-cookie-settings-button:hover {
			text-decoration: underline !important
		}

		@media(max-width: 800px) {
			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-coos:\\53.fs1.hubspotusercontent-na1.net\hubfs\53\kie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button {
				font-size: .8rem !important;
				padding-bottom: 0 !important
			}
		}

		@media(max-width: 450px) {
			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area {
				gap: .3rem;
				justify-content: space-evenly !important;
				flex-wrap: wrap !important
			}

			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button {
				min-width: 6em !important
			}

			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner #hs-eu-cookie-confirmation-buttons-area button#hs-eu-cookie-settings-button {
				padding: 0 !important
			}
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a {
			text-decoration: underline !important;
			font-weight: 500 !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			font-size: .9rem !important;
			color: #fff !important;
			line-height: inherit !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a.contrast {
			color: #1d0cff !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a:hover {
			text-decoration: underline !important
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
			font-size: .9rem !important;
			font-weight: 300 !important;
			line-height: 1.2rem !important;
			color: #fff !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			margin: 0 0 .6rem !important;
			padding: 0 !important;
			margin-right: 0 !important;
			text-align: left !important
		}

		@media(min-width: 800px1px) {
			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p {
				font-size: .8rem !important
			}
		}

		@media(max-width: 800px) {

			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p,
			#hs-banner-parent div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner a {
				font-size: .8rem !important
			}
		}

		#hs-banner-parent div#hs-eu-cookie-confirmation #hs-eu-cookie-confirmation-buttons-area {
			display: flex !important;
			margin-right: inherit !important;
			margin-top: 0 !important;
			position: relative !important;
			place-content: center !important
		}

		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation {
			position: fixed !important;
			z-index: 99999
		}

		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation .hs-eu-cookie-close-button {
			position: absolute;
			top: 2%;
			right: .5%;
			font-size: 2.5rem !important;
			transition: .15s color ease-out !important;
			text-decoration: none !important;
			padding: 2px 5px 7px !important
		}

		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation .hs-eu-cookie-close-button button {
			border: 0 !important;
			background-color: rgba(0, 0, 0, 0);
			color: #fff;
			cursor: pointer
		}

		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation .hs-eu-cookie-close-button:hover,
		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation .hs-eu-cookie-close-button:focus {
			text-decoration: none !important
		}

		#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation #hs-eu-policy-wording {
			border-bottom: 2px solid #516f90
		}

		@media(max-width: 1152px) {
			#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation #hs-eu-policy-wording p {
				margin-right: 2.5rem !important
			}
		}

		@media(max-width: 800px) {
			#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation #hs-eu-policy-wording {
				margin: 0 0 .6rem !important
			}

			#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation #hs-eu-policy-wording p {
				margin-right: 0 !important
			}
		}

		@media(max-width: 800px) {
			#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation .hs-eu-cookie-close-button {
				position: relative;
				top: auto;
				right: 0;
				padding: .5rem 0 0 !important;
				display: flex;
				place-content: flex-end
			}

			#hs-banner-parent.hs-banner-parent-fixed div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner {
				padding: 0 .5rem .5rem !important
			}
		}

		#hs-banner-parent.hs-banner-parent-fixed.banner-visually-hidden #hs-eu-cookie-confirmation {
			border: 0;
			clip: rect(0, 0, 0, 0);
			height: 1px;
			overflow: hidden;
			padding: 0;
			width: 1px
		}

		@media(max-width: 850px) {
			.hs-banner--visible .hsg-nav__inner {
				position: absolute !important
			}
		}

		body.hs-modal-open {
			overflow: hidden
		}

		.hs-footer-cookie-settings[hidden] {
			display: none
		}

		.hs-hidden-separator::after {
			content: "" !important
		}

		#hs-banner-parent #hs-modal {
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important
		}

		#hs-banner-parent #hs-modal span {
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			font-size: 14px
		}

		#hs-banner-parent #hs-modal #hs-modal-content {
			border-radius: 3px !important;
			justify-content: space-around;
			height: min(51.4em, 100%)
		}

		#hs-banner-parent #hs-modal #hs-modal-content a:not(.contrast) {
			color: #516f90 !important;
			font-weight: 500 !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content a.contrast {
			color: #1d0cff !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content p {
			line-height: 1.75 !important;
			font-size: .9rem !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			font-weight: 300 !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-header {
			width: 20px !important;
			height: 20px !important;
			position: absolute !important;
			right: 27.28px !important;
			top: 30px !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content button#hs-modal-close-button {
			z-index: 3000000002 !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content button#hs-modal-close-button svg {
			width: 20px !important;
			height: 20px !important;
			cursor: pointer !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content button#hs-modal-close-button:focus {
			border: none
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body {
			margin-top: 1rem;
			flex-basis: 85%
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-modal-introduction {
			position: sticky;
			top: 0px;
			width: 100%;
			background: #fafbff;
			z-index: 2;
			padding: 20px 0;
			border-bottom: none !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-modal-introduction span {
			font-weight: 600;
			font-size: 18px
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-modal-introduction-description {
			margin-right: 1rem
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-modal-introduction-description p {
			margin-top: 0 !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row {
			padding: 1.5em !important;
			box-shadow: 0 1px 5px rgba(33, 51, 67, .12);
			margin: 0 4px
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row .hs-category-label span {
			font-size: 1rem !important;
			font-weight: 600 !important;
			line-height: 1.75 !important;
			color: #33475b !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row p {
			font-weight: 300 !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row .hs-category-description {
			padding-top: 6px;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			line-height: 22px !important;
			font-weight: 300 !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row a,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row p {
			line-height: 1.75 !important;
			font-size: .9rem !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row svg:not(.hs-category-toggle svg) {
			height: 18px;
			width: 18px;
			transition: transform .3s ease-in-out
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-row svg:not(.hs-category-toggle svg) path {
			fill: #33475b
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round:checked+label::after,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round:checked+label::before {
			display: none !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round:checked+label:not(.contrast) {
			background-color: #0fbfbf !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round:checked+label.contrast {
			background-color: #1d0cff !important;
			z-index: 3000000002
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container label {
			position: relative;
			width: 3.6em
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round+label::before,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container label {
			height: 32px !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round+label::after,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container label svg {
			height: 22.56px !important;
			position: absolute;
			transform: translateY(-50%);
			top: 50%
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container label svg {
			transition: ease-out .1s
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-category-toggle input.hs-toggle-round:checked+label svg {
			margin-left: 1.6em
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-body #hs-modal-body-container #hs-categories-container .hs-always-active-label {
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer {
			flex-basis: initial !important;
			margin-bottom: 1rem
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container {
			display: flex;
			gap: .5rem;
			width: 100%;
			position: relative;
			margin-bottom: 0;
			justify-content: start
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings:not(.contrast),
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-decline-all:not(.contrast),
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-accept-all:not(.contrast) {
			background-color: #ff5c35 !important;
			border: none !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-decline-all,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-accept-all {
			text-align: center;
			border-radius: 3px !important;
			font-family: "Lexend Deca", "LexendDeca", "Helvetica Neue", helvetica, arial, sans-serif !important;
			font-style: normal !important;
			font-weight: 500 !important;
			font-size: 14px !important;
			line-height: 24px !important;
			height: 40px !important;
			color: #fff !important;
			min-width: 11em;
			padding: 0 .5rem !important
		}

		@media(max-width: 800px) {

			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings,
			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-decline-all,
			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-accept-all {
				text-align: center
			}
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings.contrast,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-decline-all.contrast,
		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-accept-all.contrast {
			background-color: #1d0cff !important;
			border: 1px solid #1d0cff !important
		}

		#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings {
			position: absolute;
			right: 0
		}

		@media(max-width: 575px) {
			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container {
				flex-direction: column;
				place-content: center
			}

			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-save-settings {
				position: relative;
				left: auto
			}

			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button#hs-modal-accept-all {
				order: -1
			}

			#hs-banner-parent #hs-modal #hs-modal-content #hs-modal-footer #hs-modal-footer-container button {
				min-width: 100% !important
			}
		}

		#hs-banner-parent #hs-modal #hs-modal-content .hs-category-toggle input:not(:checked)+.slider {
			background-color: #7e7272 !important
		}



        
		/* CSS for the side navbar */
		body {
			font-family: 'poppins', sans-serif;
			background-size: cover;
			background-position: center;
			background-image: url(https://media.istockphoto.com/id/840113538/vector/abstract-background-textured-grey-and-white-square-pattern-halftone-perspective-modern-bright.jpg?s=612x612&w=0&k=20&c=A-CVJo8afXSJoDBUufBUL7sC9SUDE6uFO_x1M61nB1w=);

		}

		.sidenav {
			width: 250px;
			background-color: #f1f1f1;
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			overflow: scroll;
			overflow-x: hidden;
		}


		.sidenav a {
			padding: 20px 8px 8px 16px;
			text-decoration: none;
			font-size: 18px;
			color: #818181;
			display: block;
		}

		.sidenav a:hover {
			background-color: #ddd;
		}

		/* CSS for the content area */


		.logo {
			background-color: #ddd;
			background-image: url(./asset/logo-bg.avif);
			margin-bottom: 5px;
		}

		.logo img {
			margin: 30px 10px;
			width: 150px;
		}

		.s {
			display: none;
		}

		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}

		.active,
		.accordion:hover {
			background-color: #ccc;
		}

		.panel {
			/* padding: 0 18px; */
			display: none;
			background-color: rgba(255, 255, 255, 0.918);
			overflow: hidden;
		}

		details {
			width: max-content;
			min-width: 150px;
		}

		summary {
			cursor: pointer;
		}

		details a {
			display: block;
			margin: 0 10px;
			padding: 5px 10px;
			color: #000;
			text-decoration: none;
			transition: all 0.3s ease;
		}

		details a:hover,
		details a:focus {
			background: red;
			color: #fff;
		}

		.list-group {
			width: 250px;
		}
		.container{
			margin-left: 235px;
		}
