::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(172, 172, 172);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(119, 119, 119, 0.623);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  /* background: white; */
  background-image: url("{{ asset(/pipeline.jpg') }}");
  background-size: cover;
}

.pipeline {
  height: 100%;
  background: url("public\assets\images\pipeline.jpg");
}

.pipeline-cards {
  /* padding: 0 10px 0 10px; */
  overflow-x: auto;
  width: 97.6%;
  margin-left: 12px;
  border-radius: 7px;
}

.pipeline-column {
  min-width: 270px;
  width: 270px;
  max-width: 270px;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #f3f5f7;
  border-radius: 8px;
  margin: 0 8px;
  padding: 6px;
  padding-top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pipeline-content {
  height: 100%;
}

.pipeline-heading {
  padding: 0 10px 0 6px;
  height: 36px;
  position: sticky;
  top: 0;
  left: 0;
  background: #f3f5f7;
  z-index: 0;
  /* z-index: 99; */
}

.pipeline-heading h6 {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.pipeline-heading h6 .pipeline-markDanger {
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  margin-right: 8px;
}

.pipeline-heading h6 .pipeline-markSuccess {
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
  margin-right: 8px;
}

.pipeline-heading h6 .pipeline-count {
  background: #d9dbdd;
  font-weight: 600;
  padding: 1px 8px;
  border-radius: 60px;
  font-size: 12px;
  margin-left: 6px;
}

.card {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #eee;
  box-shadow: none;
  margin: 6px 0;
  height:220px;
}

hr {
  background: #d7d7d791;
  margin: 0;
}

.card-head .candidate-name h6 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 4px 0;
  color: #111;
}

.card-head .candidate-name p {
  font-size: 11px;
  font-weight: 500;
  color: #999999;
}

.card-head .card-dropdown {
  height: 26px;
  width: 26px;
}

.card-head .card-dropdown:hover {
  cursor: pointer;
}

.card-head .card-dropdown .dropdown button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card-content {
  padding: 10px 0;
  position: relative;
}

.card-content .candidate-details {
  align-items: center;
}

.card-content .candidate-details .details-title {
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 100%;
}

.card-content .candidate-details .details-title i {
  font-size: 14px;
  width: 24px;
  height: 24px;
}

.bg-badge-warning {
  background-color: #ffcf004d;
  color: #4e4e4e;
  margin: 0;
  padding: 6px;

  font-size: 10px;
  /* margin: auto; */
  text-align: left;
  width: fit-content;
}

.bg-badge-danger {
  background-color: #ffd6d6f5;
  color: #a10000;
  margin: 0;
  padding: 6px;

  font-size: 10px;
  /* margin: auto; */
  text-align: left;
  width: fit-content;
}

.bg-badge-pending {
  background-color: #00978669;
  color: #00322d;
  margin: 0;
  padding: 6px;

  font-size: 10px;
  /* margin: auto; */
  text-align: left;
  width: fit-content;
}

.bg-badge-telephonic {
  background-color: #ebd8c1;
  color: #5f2800;
  margin: 0;
  padding: 6px;

  font-size: 10px;
  /* margin: auto; */
  text-align: left;
  width: fit-content;
}

.bg-badge-success {
  background-color: rgba(0, 128, 0, 0.5);
  color: rgb(0, 43, 0);
  margin: 0;
  padding: 6px;

  font-size: 10px;
  /* margin: auto; */
  text-align: left;
  width: fit-content;
}

.checkbox-wrapper-26 {
  margin-right: 8px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  /* here */
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* button  */
.Deletebutton {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #ffd6d6f5;
  color: #580000;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  /* box-shadow: 0px 14px 56px -11px #1875ff; */
  width: 11em;
  padding: 6px;
  transition: all 0.4s;
  cursor: pointer;
  height: 35px;
  font-weight: 500;
  margin-left: 12px;
}

.Deletebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.Deletebutton span:after {
  content: "Candidate";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
}

.Deletebutton:hover span {
  padding-right: 5em;
}

.Deletebutton:hover span:after {
  opacity: 4;
  right: 0;
}

/* add candidate btn */
.continue-application {
  --color: #000;
  --background: #ffffff;
  --background-hover: #ffffff;
  --background-left: #ffffff;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 7px 30px 8px 68px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
  margin-left: 12px;
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 4px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before,
.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow),
    0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before,
.continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before,
.continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(
    --b,
    linear-gradient(
      var(--pencil-top) 55%,
      var(--pencil-middle) 55.1%,
      var(--pencil-middle) 60%,
      var(--pencil-bottom) 60.1%
    )
  );
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before,
.continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 17px;
  right: 16px;
  transition: transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: 0.15s;
  --pex: -24px;
}

.pipelineDetails {
  padding: 6px 8px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  color: white;
}

.positionTitle h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.positionTitle p {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.positionButtons {
  text-align: end;
  position: relative;
}

.positionButtons .filter-Pipeline .filter-people {
  font-size: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  position: relative;
}

.filter-Pipeline .filter-people .filterPerson {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #fff;
  color: darkblue;
}

.filter-Pipeline .filter-people .filterPerson:hover {
  cursor: pointer;
}

.filter-Pipeline .filter-people .filterPerson img {
  max-width: 100%;
  border-radius: 50%;
  max-height: 100%;
}

.personPosition-1 {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 12px;
  font-weight: 500;
  /* background: #f3f5f7 !important; */
  display: grid;
  place-content: center;
}

.personPosition-2 {
  position: absolute;
  top: 0;
  right: 26px;
}

.personPosition-3 {
  position: absolute;
  top: 0;
  right: 50px;
}

.personPosition-4 {
  position: absolute;
  top: 0;
  right: 74px;
}

.personPosition-5 {
  position: absolute;
  top: 0;
  right: 97px;
}

.pipeline-Added {
  margin-top: 10px;
  height: 18px;
}

.pipeline-Added .details-title {
  font-size: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
}

.pipeline-Added .details-title .added-co {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #fff;

  position: absolute;
  bottom: 8px;
  right: 8px;
}

.pipeline-Added .details-title .added-co:hover {
  cursor: pointer;
}

.pipeline-Added .details-title .added-co img {
  max-width: 100%;
  border-radius: 50%;
  max-height: 100%;
}

.pipeline-Added .details-title .added-pco {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #d8d8d8;

  position: absolute;
  bottom: 8px;
  right: 30px;
}

.pipeline-Added .details-title .added-pco img {
  max-width: 100%;
  border-radius: 50%;
  max-height: 100%;
}

.pipeline-Added .details-title .added-pco:hover {
  cursor: pointer;
}

.score-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage-score {
  width: 36px;
  height: 36px;
  background: #e5e9eb;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
  top: 14px;
  right: 8px;
  font-size: 12px;
  font-weight: 700;
}

/*  delete btn */
.delete-button {
  --color: #000;
  --background: #ffffff;
  --background-hover: #ffffff;
  --background-left: #ffffff;
  --folder: #f3e9cb;
  --folder-inner: #beb393;
  --paper: #ffffff;
  --paper-lines: #bbc1e1;
  --paper-behind: #e1e6f9;
  --pencil-cap: #fff;
  --pencil-top: #275efe;
  --pencil-middle: #fff;
  --pencil-bottom: #5c86ff;
  --shadow: rgba(13, 15, 25, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 7px 30px 8px 68px;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
  margin-left: 12px;
}

.delete-button > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.delete-button > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 4px;
}

.delete-button > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.delete-button > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  transform-origin: 0 50%;
  transition: transform 0.3s ease var(--fds, 0.45s);
  transform: perspective(120px) rotateY(var(--fr, 0deg));
  filter: invert(55%) sepia(81%) saturate(2422%) hue-rotate(330deg)
    brightness(118%) contrast(119%);
}

.delete-button > div .folder:before,
.delete-button > div .folder:after,
.delete-button > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.delete-button > div .folder:before {
  box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow),
    0 3.5px 7px var(--shadow);
  transform: translateX(var(--fx, 0));
  transition: transform 0.4s ease var(--fd, 0.3s);
}

.delete-button > div .folder:after,
.delete-button > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.delete-button > div .folder:after {
  transform: translate(var(--pbx, 0), var(--pby, 0));
  transition: transform 0.4s ease var(--pbd, 0s);
}

.delete-button > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.delete-button > div .folder .paper:before,
.delete-button > div .folder .paper:after {
  content: "\274c";
  /* width: var(--wp, 14px); */
  /* height: 6px; */
  border-radius: 1px;
  /* transform: scaleY(0.5); */
  left: 3px;
  text-align: center;
  font-size: 16px;
  /* top: var(--tp, 3px); */
  position: absolute;
  left: 0;
  bottom: 3px;
}

.delete-button > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.delete-button > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  transform-origin: 50% 19px;
  background: var(--pencil-cap);
  transform: translateX(var(--pex, 0)) rotate(35deg);
  transition: transform 0.4s ease var(--pbd, 0s);
}

.delete-button > div .pencil:before,
.delete-button > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(
    --b,
    linear-gradient(
      var(--pencil-top) 55%,
      var(--pencil-middle) 55.1%,
      var(--pencil-middle) 60%,
      var(--pencil-bottom) 60.1%
    )
  );
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.delete-button > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.delete-button > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.delete-button:before,
.delete-button:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  transform-origin: 9px 1px;
  transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 17px;
  right: 16px;
  transition: transform 0.3s;
}

.delete-button:after {
  --r: 45deg;
}

.delete-button:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: 0.15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: 0.15s;
  --pex: -24px;
}
